@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Bloom Call Center Scheduler</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bloom Insurance Agency | Overcome Every Obstacle</title>
    <meta name="generator" content="WordPress 4.2.3" />
    <meta name="robots" content="follow, all" />
    <link rel="stylesheet" href="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/style.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="https://bloominsuranceagency.com/wp-content/uploads/2011/09/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="Bloom Insurance Agency RSS Feed" href="https://www.bloominsuranceagency.com/feed/" />
    <link rel="pingback" href="https://www.bloominsuranceagency.com/xmlrpc.php" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/www.bloominsuranceagency.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.2.3"}};
			!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <script type='text/javascript' src='https://www.bloominsuranceagency.com/wp-content/uploads/jw-player-plugin-for-wordpress/player/jwplayer.js?ver=4.2.3'></script>
    <script type='text/javascript' src='https://www.bloominsuranceagency.com/wp-includes/js/jquery/jquery.js?ver=1.11.2'></script>
    <script type='text/javascript' src='https://www.bloominsuranceagency.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='https://www.bloominsuranceagency.com/wp-content/plugins/pippity/js/pippity.js?ver=4.2.3'></script>
    <script type='text/javascript' src='https://www.bloominsuranceagency.com/wp-content/themes/vulcan/js/jquery.cycle.all.js?ver=4.2.3'></script>
    <script type='text/javascript' src='https://www.bloominsuranceagency.com/wp-content/themes/vulcan/js/jquery.corner.js?ver=4.2.3'></script>
    <script type='text/javascript' src='https://www.bloominsuranceagency.com/wp-content/themes/vulcan/js/jquery.prettyPhoto.js?ver=4.2.3'></script>
    <script type='text/javascript' src='https://www.bloominsuranceagency.com/wp-content/themes/vulcan/js/jquery.tools.tabs.min.js?ver=4.2.3'></script>
    <script type='text/javascript' src='https://www.bloominsuranceagency.com/wp-content/themes/vulcan/js/functions.js?ver=4.2.3'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.bloominsuranceagency.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.bloominsuranceagency.com/wp-includes/wlwmanifest.xml" />


    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <script type="text/javascript">
				pippity_globals = function(jQuery){
				window.$j = jQuery;
				window.PTY_URL = "https://www.bloominsuranceagency.com/wp-content/plugins/pippity";
				window.PTY_DOM = "https://www.bloominsuranceagency.com";
				window.PTY_AJAX = "https://www.bloominsuranceagency.com/wp-admin/admin-ajax.php";
				window.PTY_ADM = "https://www.bloominsuranceagency.com/wp-admin/admin.php?page=";
				window.PTY_PAGE = "";
				window.PTY_ISPOST = false;
				window.PTY_KEY = "NWMzMmY2ZDZjODcyOTJiYTI2MWNhMGJhYTdkYTM5YWUwZDNjZTkyMzliZTFiNzNmNTkxNTNmMGRlOTZjYmFlNjM3ODY2MTBkMmM3NmI4NGQ=";
				window.PTY_AFFLINK = "";
				window.PTY_AFFTEXT = "";
				window.PTY_NEWPOPUP = "false";

				}(jQuery)
    </script>
    <link rel="stylesheet" href="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/css/prettyPhoto.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/css/custom_style.php" type="text/css" media="screen" />
    <script type="text/javascript">
/*************************
GOOGLE ANALYTICS SNIPPET - Jeff Konowitch 3.23.12
*************************/
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26973119-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
    <!--NIVO ZOOM PLUGIN -->
    <script type="text/javascript">
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('(f($){$.R.C=f(16){b e=$.1z({},$.R.C.X,16);4(e.F){4(!($.15.1y&&$.15.1x.1A(0,1)<8)){$(\'1B\').1E(\'<18 1D="y" />\');$(\'#y\').9({O:\'1C\',v:0,u:0,m:\'J%\',q:\'J%\',1F:e.W,r:e.11,\'z-P\':1w,Q:\'1j\'})}}1a 7.17(f(){b 14=$(7);b 13=$(\'a.C\',14);13.17(f(){b 3=$(7);4(3.1o(\'a\')){b 6=$(7).1p(\'6:S\');3.9({O:\'1v\',Q:\'1u-1q\'});3.j(\'1l\',\'1n 1h 1t\');3.1f(\'<18 1s="h" />\');b h=$(\'.h\',3);h.9(\'r\',\'0\');3.1r(f(){4(!3.i(\'B\')){h.1c().E({r:e.V},1b)}},f(){4(!h.i(\'G\')){h.1c().E({r:0},1b)}});3.1G(\'1V\',f(){4($(\'6.N\',3).K==0){h.A(\'G\');Y(6,3,f(){h.12(\'G\');H(6,3,h)})}l{H(6,3,h)}1a T})}})});f H(6,3,h){b o=$(\'6.N\',3);4(3.i(\'B\')){4(e.F)$(\'#y\').I(e.n/2);4($(\'.c\',3).K>0){$(\'.c\',3).I(e.n/2)}o.I(e.n/2,f(){6.E({r:1},e.n/2)});3.12(\'B\')}l{4(e.F)$(\'#y\').M(e.n/2);h.9(\'r\',\'0\');6.E({r:0},e.n/2,f(){o.M(e.n/2,f(){1e(6,o,3)})});3.A(\'B\')}}f 1e(6,o,3){4($(\'.c\',3).K>0){b c=$(\'.c:S\',3);4(!c.i(\'10-Z\')){b s=6.m();4(s==0)s=6.j(\'m\');b t=6.q();4(t==0)t=6.j(\'q\');b p=o.m();4(p==0)p=o.j(\'m\');b k=o.q();4(k==0)k=o.j(\'q\');c.9({m:p,r:e.19});4(3.i(\'1g\')){c.9({v:(k-c.L())+\'w\',D:\'g\'})}l 4(3.i(\'1k\')){c.9({x:\'g\',D:\'g\'})}l 4(3.i(\'1m\')){c.9({x:\'g\',u:\'g\'})}l 4(3.i(\'U\')){c.9({v:1H.1I(t/2-k/2)+(k-c.L())+\'w\',u:(s/2-p/2)+\'w\'})}l{c.9({v:(k-c.L())+\'w\',u:\'g\'})}c.A(\'10-Z\')}c.M(e.n/2)}}f Y(6,3,1i){b 1d=1O 1X();$(1d).1P(f(){$(7).A(\'N\');$(7).9({O:\'1K\',Q:\'1j\',\'z-P\':1S});4(1T.1Z.1U(/1W \\d\\.\\d+/)){3.9(\'z-P\',\'J\')}4(3.i(\'1g\')){$(7).9({v:\'g\',D:\'g\'})}l 4(3.i(\'1k\')){$(7).9({x:\'g\',D:\'g\'})}l 4(3.i(\'1m\')){$(7).9({x:\'g\',u:\'g\'})}l 4(3.i(\'U\')){b s=6.m();4(s==0)s=6.j(\'m\');b t=6.q();4(t==0)t=6.j(\'q\');b p=$(7).m();4(p==0)p=$(7).j(\'m\');b k=$(7).q();4(k==0)k=$(7).j(\'q\');$(7).9({v:(t/2-k/2)+\'w\',u:(s/2-p/2)+\'w\'})}l{$(7).9({v:\'g\',u:\'g\'})}$(7).j(\'1l\',\'1n 1h 1M\');3.1f($(7));1i.1N(7)}).j(\'1Q\',3.j(\'1R\'))}};$.R.C.X={n:1J,V:0.8,F:T,W:\'#1Y\',11:0.5,19:0.8}})(1L);',62,124,'|||link|if||img|this||css||var|nivoCaption||settings|function|0px|nivoZoomHover|hasClass|attr|bigImgHeight|else|width|speed|imgLarge|bigImgWidth|height|opacity|imgWidth|imgHeight|left|top|px|bottom|nivoOverlay||addClass|zoomed|nivoZoom|right|animate|overlay|loading|doZoom|fadeOut|100|length|outerHeight|fadeIn|nivoLarge|position|index|display|fn|first|false|center|zoomHoverOpacity|overlayColor|defaults|loadImg|processed|nivo|overlayOpacity|removeClass|nivoZooms|context|browser|options|each|div|captionOpacity|return|300|stop|newImg|showCaption|append|topRight|to|callback|none|bottomRight|title|bottomLeft|Click|is|find|block|hover|class|zoom|inline|relative|90|version|msie|extend|substr|body|fixed|id|prepend|background|bind|Math|ceil|500|absolute|jQuery|close|call|new|load|src|href|99|navigator|match|click|MSIE|Image|333|userAgent'.split('|'),0,{}))
jQuery(document).ready(function(){
jQuery("body").nivoZoom({
		speed:500,
		zoomHoverOpacity:0.8,
		overlay:true,
		overlayColor:'#333',
		overlayOpacity:0.5,
		captionOpacity:0.8
});
});
    </script>
    <style>
        .nivoZoomHover {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 9;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        .nivoCaption {
            display: none;
            position: absolute;
            z-index: 110;
            text-align: center;
            background: #010101;
            color: #fff;
            padding: 4px 0;
            overflow: hidden;
        }
    </style>
    <!-- END NIVO ZOOM PLUGIN -->
    <script>
(function($){
  //GLOBALS
  window.bmg_ = {
     case_study_sidebar_title: "Case Studies"
    ,contact_center_heading: "Contact Center"
  }
  $(function(){
   var detect, i, inject_custom_pty_handler, page_heading

    //for use in several functions below, we need to know the heading of the page
    page_heading = $("h1").text();

    //will modify form submit handler by injecting new code into the pippity open function - this solves the placeholder issue in IE8
    inject_custom_pty_handler = function(){
      var pty_open_copy, modify_form
      pty_open_copy = pty.open;
      pty.open = function(id){
        pty_open_copy(id);
        modify_form();
      }
      modify_form = function(){
        $("input:text[placeholder]").simplePlaceholder(); //placeholder plugin
      }
    }
    //detects presence of pty object before executing injection function
    detect = function() {
      if (typeof window.pty.open != "undefined"){
        inject_custom_pty_handler();
        clearInterval(i)
      }
    }
    //sets interval to check for pty
    i = setInterval(detect, 100 );

    //control display of 'Case Studies' side bar
    if (page_heading != bmg_.contact_center_heading){
      $(".sidebar").each(function(){
        if ($(this).find("h3").text() == bmg_.case_study_sidebar_title )
        //remove case study sidebar and sidebar bottom div
        $(this).hide().next().hide();
      })
    }

    //change contact link on Homepage to pippity
    if ($("#get-in-touch > a").length != 0) {
      $("#get-in-touch > a").addClass("pty_click pty_id_1");
      pty.ePops = [1]
      pty.load(location.href);
    }
  });
})(jQuery)
    </script>
    <!-- PLACEHOLDER PLUGIN -->
    <script type="text/javascript">
(function(a){a.simplePlaceholder={placeholderClass:null,hidePlaceholder:function(){var b=a(this);if(b.val()==b.attr("placeholder")){b.val("").removeClass(a.simplePlaceholder.placeholderClass)}},showPlaceholder:function(){var b=a(this);if(b.val()==""){b.val(b.attr("placeholder")).addClass(a.simplePlaceholder.placeholderClass)}},preventPlaceholderSubmit:function(){a(this).find(".simple-placeholder").each(function(b){var c=a(this);if(c.val()==c.attr("placeholder")){c.val("")}});return true}};a.fn.simplePlaceholder=function(b){if(document.createElement("input").placeholder==undefined){var c={placeholderClass:"placeholding"};if(b)a.extend(c,b);a.simplePlaceholder.placeholderClass=c.placeholderClass;this.each(function(){var b=a(this);b.focus(a.simplePlaceholder.hidePlaceholder);b.blur(a.simplePlaceholder.showPlaceholder);if(b.val()==""){b.val(b.attr("placeholder"));b.addClass(a.simplePlaceholder.placeholderClass)}b.addClass("simple-placeholder");a(this.form).submit(a.simplePlaceholder.preventPlaceholderSubmit)})}return this}})(jQuery)
    </script>
    <style media="print" type="text/css">
        div.faq_answer {
            display: block !important;
        }

        p.faq_nav {
            display: none;
        }
    </style>

    <!--[if IE 6]>
        <link href="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/css/ie6.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/js/DD_belatedPNG.js"></script>
        <script type="text/javascript">
           DD_belatedPNG.fix('img');
           DD_belatedPNG.fix('#pager a, ul.list-bottom li');
           DD_belatedPNG.fix('#footer-content, .dot-separator');
           DD_belatedPNG.fix('blockquote');
        </script>
    <![endif]-->
    <!--[if IE 7]>
        <style type="text/css">
        #pager{top:260px;margin-left:0;right:20px;}
        #slideshow {height:298px;}
        #content .front-box-content{padding-bottom:45px;}
        .intouch { margin-top: -40px;}
        #mid-container{margin-top: -210px;}
        </style>
    <![endif]-->
    <!--[if IE 8]>
        <style type="text/css">
        #pager{top:260px;}
        #mid-container{margin-top: -210px;}
        </style>
    <![endif]-->
    <!-- ////////////////////////////////// -->
    <!-- //      Javascript Files        // -->
    <!-- ////////////////////////////////// -->
    <script type="text/javascript">
  jQuery(document).ready(function($) {
     $('#slideshow ul.slideshow').cycle({
        timeout: 7000,  // milliseconds between slide transitions (0 to disable auto advance)
        fx:      'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        pager:   '#pager',  // selector for element to use as pager container
        pause:   0,	  // true to enable "pause on hover"
        pauseOnPagerHover: 0 // true to pause when hovering over pager link
    });
  });
    </script>

    <script type="text/javascript" src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/js/cufon-yui.js"></script>
    <script type="text/javascript" src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/js/fonts/Vegur_300.font.js"></script>
    <script type="text/javascript">
    Cufon.replace('h1') ('h2') ('h3') ('h4') ('h5') ('h6') ('.slide-more') ('.heading1-slide') ('.heading2-slide') ('ul.navigation li a',{hover:true})('.more-button') ('.page-navigation',{hover:true}) ('.date') ('.month') ('.wp-pagenavi') ;
    Cufon.set('fontWeight', 'Normal');
    </script>

</head>
<body>
    <div id="container">

        <!-- BEGIN OF HEADER -->
        <div id="top-container">

            <!-- begin of logo and mainmenu -->
            <div id="header">
                <div id="logo">
                    <a href="https://www.bloominsuranceagency.com"><img src="https://bloominsuranceagency.com/wp-content/uploads/2014/05/bloomlogohoriz345_noTagLine_new.jpg" style="margin-bottom: 0px" alt="Bloom Insurance Agency" /></a>
                    <br />
                </div>
                <div id="mainmenu">
                    <ul id="menu-bloommenu" class="navigation">
                        <li id="menu-item-1031" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1031"><a href="https://www.bloominsuranceagency.com/">Home</a></li>
                        <li id="menu-item-1034" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1034">
                            <a href="https://www.bloominsuranceagency.com/technology-services/">Technology</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1035" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1035"><a href="https://www.bloominsuranceagency.com/technology-services/ascend/">Ascend</a></li>
                                <li id="menu-item-1036" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1036"><a href="https://www.bloominsuranceagency.com/technology-services/scope-of-appointment/">Scope of Appointment</a></li>
                                <li id="menu-item-1037" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1037"><a href="https://www.bloominsuranceagency.com/technology-services/bloom-recording-portal/">Bloom Recording Portal</a></li>
                                <li id="menu-item-1038" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1038"><a href="https://www.bloominsuranceagency.com/technology-services/isf/">ISF</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1039" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1039">
                            <a href="https://www.bloominsuranceagency.com/contact-center/">Contact Center</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1040" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1040">
                                    <a href="https://www.bloominsuranceagency.com/contact-center/our-technology/">Our Technology</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1041" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1041"><a href="https://www.bloominsuranceagency.com/contact-center/our-technology/call-center-technology/">Contact Center Technology</a></li>
                                        <li id="menu-item-1042" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1042"><a href="https://www.bloominsuranceagency.com/contact-center/our-technology/reporting/">Reporting</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-1043" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1043">
                                    <a href="https://www.bloominsuranceagency.com/contact-center/our-people/">Our People</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1044">
                                            <a href="https://www.bloominsuranceagency.com/contact-center/our-people/education/">Education</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1045" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1045"><a href="https://www.bloominsuranceagency.com/contact-center/our-people/education/education-details/">Education | Details</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1046" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1046">
                                            <a href="https://www.bloominsuranceagency.com/contact-center/our-people/compliance/">Compliance</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1047"><a href="https://www.bloominsuranceagency.com/contact-center/our-people/compliance/compliance-details/">Compliance | Details</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1048" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1048">
                                            <a href="https://www.bloominsuranceagency.com/contact-center/our-people/quality/">Quality</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1049"><a href="https://www.bloominsuranceagency.com/contact-center/our-people/quality/quality-details/">Quality | Details</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1050"><a href="https://www.bloominsuranceagency.com/contact-center/our-people/performance-management/">Performance Management</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-1051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1051">
                                    <a href="https://www.bloominsuranceagency.com/contact-center/our-experience/">Our Experience</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1052" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1052"><a href="https://www.bloominsuranceagency.com/contact-center/our-experience/scripting/">Scripting</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-1053" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1053">
                            <a href="https://www.bloominsuranceagency.com/about-us/">About</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1054"><a href="https://www.bloominsuranceagency.com/about-us/news/">News</a></li>
                                <li id="menu-item-1055" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1055"><a href="https://www.bloominsuranceagency.com/about-us/347-2/">Careers</a></li>
                                <li id="menu-item-1056" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1056"><a href="https://www.bloominsuranceagency.com/about-us/contact/">Contact</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end of logo and mainmenu -->

            <div id="slideshow">
                <ul class="slideshow">
                    <li>

                        <img src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/timthumb.php?src=https://www.bloominsuranceagency.com/wp-content/uploads/2012/04/BloomBldgCleanTrimmed.jpg&amp;h=280&amp;w=936&amp;zc=1" alt="Bloom Building" />

                    </li>
                    <li>
                        <span class="slide-img">
                            <img src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/timthumb.php?src=https://www.bloominsuranceagency.com/wp-content/uploads/2012/04/Ascend_Logo_4C_v2.jpg&amp;h=280&amp;w=610&amp;zc=1" alt="Ascend Mobile Application" />
                        </span>
                        <span class="slide-text">
                            <span class="heading1-slide">Ascend Mobile Application</span>
                            <p>The first of its kind, Ascend<sup>TM</sup> is a user-friendly mobile application that allows Medicare sales agents to access prospect information, plan enrollment applications, and appointment schedules in real time.<span id="pty_trigger"></span></p>
                            <div class="clear"></div>
                            <span class="slide-more"><a href="https://www.bloominsuranceagency.com/technology-services/ascend/">Learn More</a></span>
                        </span>
                    </li>
                    <li>
                        <span class="slide-text-left">
                            <span class="heading1-slide">Dental Insurance Store</span>
                            <p>Developed upon Bloom’s Insurance Sales Framework quote engine, Dental Insurance Store is a web portal which allows individuals to get instant pricing on affordable dental plans from leading providers around the country, allowing for plan comparison and facilitating quick and easy enrollment.<span id="pty_trigger"></span></p>
                            <div class="clear"></div>
                            <span class="slide-more"><a href="https://www.bloominsuranceagency.com/technology-services/isf/">Learn More</a></span>
                        </span>
                        <span class="slide-img-right">
                            <img src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/timthumb.php?src=https://www.bloominsuranceagency.com/wp-content/uploads/2012/04/hdr_DIS_logo.jpg&amp;h=280&amp;w=610&amp;zc=1" alt="Dental Insurance Store" />
                        </span>
                    </li>
                    <li>
                        <span class="slide-img">
                            <img src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/timthumb.php?src=https://www.bloominsuranceagency.com/wp-content/uploads/2012/04/call_center.jpg&amp;h=280&amp;w=610&amp;zc=1" alt="Contact Center" />
                        </span>
                        <span class="slide-text">
                            <span class="heading1-slide">Contact Center</span>
                            <p>Bloom offers a turnkey sales and operations call center specializing in highly regulated insurance sales.<span id="pty_trigger"></span></p>
                            <div class="clear"></div>
                            <span class="slide-more"><a href="https://www.bloominsuranceagency.com/contact-center/">Read More</a></span>
                        </span>
                    </li>

                </ul>

                <!-- Little Navigation Dots
                <div id="pager"></div> -->

            </div>
            <!-- begin of welcome-slogan -->
            <div id="slogan">
                <h1><h2><strong><a href="/technology-services/ascend/" style="color:#0567AD">Ascend Mobile Application</a> | <a href="/contact-center/" style="color:#0567AD">Licensed Insurance Agents</a><br /><a href="/contact-center/compliance/" style="color:#0567AD">Compliance and Quality Assurance | </a><a href="/contact-center/" style="color:#0567AD">Contact Center Services</a> </strong></h1>
            </div>
            <div class="dot-separator"></div>
            <div id="get-in-touch">

                <a href="#"><img src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/timthumb.php?src=https://www.bloominsuranceagency.com/wp-content/themes/vulcan/images/iMail.png&amp;h=56&amp;w=63&amp;zc=1" alt="" class="get-in-touch" /><h4 class="intouch">Contact Us</h4></a>
            </div>
            <!-- end of welcome-slogan -->
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!-- END OF HEADER -->
        <!-- BEGIN OF FRONT-BOX -->
        <div id="mid-container">
            <div id="front-box">
                <!-- begin of front content 1 -->
                <div class="front-box-content">
                    <div class="img-front"><img src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/timthumb.php?src=/wp-content/uploads/2011/10/Ascend_icon_large.png&amp;h=64&amp;w=64&amp;zc=1" alt="" /></div>
                    <h4>Ascend Mobile Application</h4>
                    <p>Introducing Ascend—the world’s first mobile web application to keep your field sales compliant and growing. <br /><br /><a href="/technology-services/ascend/">Learn More.</a></p>
                </div>
                <!-- end of front content 1 -->

                <div class="dot-separator-content"></div>

                <!-- begin of front content 2 -->
                <div class="front-box-content">
                    <div class="img-front"><img src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/timthumb.php?src=/wp-content/uploads/2011/10/stock-illustration-17089900-man-looking-through-spyglass-e1319556179304.jpg&amp;h=64&amp;w=64&amp;zc=1" alt="" /></div>
                    <h4>New Regulations and You</h4>
                    <p>Let’s talk about the new regulatory environment and your particular challenges today.<br /><br /><a href="/contact-center/compliance/">Learn More.</a></p>
                </div>
                <!-- end of front content 2 -->

                <div class="dot-separator-content"></div>

                <!-- begin of front content 3 -->
                <div class="front-box-content">
                    <div class="img-front"><img src="https://www.bloominsuranceagency.com/wp-content/themes/vulcan/timthumb.php?src=https://www.bloominsuranceagency.com/wp-content/uploads/2016/06/Leadership_Team1.png&amp;h=64&amp;w=64&amp;zc=1" alt="" /></div>
                    <h4>Meet Our Leadership Team</h4>
                    <p>Bloom has an experienced leadership team with expertise in Medicare solutions.<br /><br /><a href="/about-us/">Learn More.</a></p>
                </div>
                <!-- end of front content 3 -->
                <div class="clear"></div>
            </div>              <div class="clear"></div>
        </div>
        <!-- END OF FRONT-BOX -->
        <!-- BEGIN OF FOOTER -->
        <div id="bottom-container">
            <div id="footer-content">

                <!-- begin of footer-address -->
                <div id="footer-address">
                    <img src="https://bloominsuranceagency.com/wp-content/uploads/2011/11/BMG_logo_tagline_rev_325px.png " alt="Bloom Insurance Agency" />
                    <p style="padding-left:60px;color:#EDEDED">
                        1801 S Liberty Drive<br />Bloomington, Indiana 47403
                        <!--
                        AUTO GENERATED ADDRESS (disabled)
                        1801 S Liberty Drive
                        Bloomington, IN 47403-->

                        <br />
                        Phone : 812.961.2535<br />Fax : 812.961.2536<br />Email : information at bloommg dot com
                    </p>
                </div>
                <!-- end of footer-address -->
                <!-- begin of footer-menu and copyright -->
                <div id="footer-last">
                    <div id="footer-menu">
                        <ul id="menu-footermenu" class="navigation-footer">
                            <li id="menu-item-1026" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1026"><a href="https://bloominsuranceagency.com/">Home</a></li>
                            <li id="menu-item-1028" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1028"><a href="https://www.bloominsuranceagency.com/technology-services/">Technology</a></li>
                            <li id="menu-item-1029" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1029"><a href="https://www.bloominsuranceagency.com/contact-center/">Contact Center</a></li>
                            <li id="menu-item-1030" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1030"><a href="https://www.bloominsuranceagency.com/about-us/">About</a></li>
                            <li id="menu-item-1318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1318"><a href="https://www.bloominsuranceagency.com/privacy/">Privacy</a></li>
                        </ul>
                    </div>
                    <div id="footer-copyright">
                        Copyright © 2016 Bloom Insurance Agency. All rights reserved
                    </div>
                </div>
                <!-- end of footer-menu and copyright -->

            </div>
        </div>
        <!-- END OF FOOTER -->

    </div>

    <!-- /// LOAD CHARTBEAT /// -->
    <script type="text/javascript">
		var _sf_async_config={};
		_sf_async_config.uid = 37745;
		_sf_async_config.useCanonical = true;

		(function(){
		  function loadChartbeat() {
			window._sf_endpt=(new Date()).getTime();
			var e = document.createElement('script');
			e.setAttribute('language', 'javascript');
			e.setAttribute('type', 'text/javascript');
			e.setAttribute('src',
			   (("https:" == document.location.protocol) ? "https://" : "http://") +
			   "static.chartbeat.com/js/chartbeat.js");
			document.body.appendChild(e);
		  }
		  var oldonload = window.onload;
		  window.onload = (typeof window.onload != 'function') ?
			 loadChartbeat : function() { try { oldonload(); } catch (e) { loadChartbeat(); throw e} loadChartbeat(); };
		})();
    </script>
</body>
</html>